body {
  background-color: #FFFF;
}



.headWrapper ul a {
  margin: 5px;
  font-family: arial;
  font-size: 16px;
  color: rgb(253, 254, 254);
  line-height: 63px;
}

.headWrapper ul li {
  float: left;
  list-style: none;
}

.headWrapper {
  width: 100%;
  height: 60px;
  background-color: rgb(52, 152, 219);
}


.navLogin a {
  margin-right: 25px;
  float: right;
  font-family: arial;
  font-size: 16px;
  color: pink;
  line-height: 63px;
  cursor: pointer;
}

h2 {
  display: flex;
  justify-content: center;
  font-size: 35px;
}

.profileInfo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.profilePic {
  margin-bottom: 4vh;
  width: 15vw;
  height: 15vw;
}

.choosePic {
  font-size: 10px;
  position: relative;
  margin-right: 142px;
  margin-top: -11px;
  margin-left: 200px;
}

.uploadButton {
  font-size: 10px;
  position: relative;
  margin-right: 142px;
  margin-top: -11px;
  margin-left: 58px;
  margin-bottom: 20px;
}

.h3 {
  display: flex;
  justify-content: center;
}

.myProfile {
  display: flex;
  justify-content: center;
  margin-right: 26vw;
}

.myProfile ul {
  list-style: none;
}

.myProfile ul li {
  width: 60vw;
  font-size: 1.25vw;
  margin-top: 0.3472222222222222vw;
}

.linkField {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin-top: 30px;
}

.linkSubmit {
  width: 12vw;
}

.post {
  background-color: wheat;
  width: 50vw;
  display: flex;
  flex-direction: column-reverse;
  border: 1px solid black;
  margin-top: 10px;
}

img {
  width: 3vh;
  float: right;
}

p {
  position: relative;
  align-self: center;
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.signupForm {
  width: 400px;
  margin: 0 auto;
  padding-top: 30px;
}

.signupForm input {
  width: 90%;
  height: 40px;
  padding: 0px 5%;
  margin-bottom: 4px;
  border: none;
  background-color: wheat;
  font-family: arial;
  font-size: 16px;
  color: #111;
  line-height: 40px;
}

.signupForm button {
  display: block;
  margin: 0 auto;
  width: 30%;
  height: 40px;
  border: none;
  background-color: #222;
  font-family: arial;
  font-size: 16px;
  color: white;
  line-height: 40px;
  cursor: pointer;
}

.signupForm button:hover {
  background-color: #111;
}

.navLogin form input {
  margin-top: 15px;
  float: left;
  width: 140px;
  height: 30px;
  padding: 0px 10px;
  margin-right: 10px;
  border: none;
  background-color: rgb(253, 254,254);
  font-family: arial;
  font-size: 14px;
  color: #111;
  line-height: 30px;
}

.navLogin button {
  margin-top: 20px;
  cursor: pointer;
}

.navLogin button:hover {
  background-color: wheat;
}

.deleteLink {
  margin-top: 3vh;
}

.container {
  margin-top: 2vh;
}











}
